<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>service_id</key>
		<real>0</real>
		<key>service_title</key>
		<string>新闻公告</string>
		<key>service_icon</key>
		<string>news_logo.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>0</integer>
		<key>position</key>
		<string>L1</string>
		<key>back_color</key>
		<string>0da4d6</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>1</integer>
		<key>service_title</key>
		<string>最新捐赠</string>
		<key>service_icon</key>
		<string>recent_logo.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>0</integer>
		<key>position</key>
		<string>R1</string>
		<key>back_color</key>
		<string>E0620D</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>2</integer>
		<key>service_title</key>
		<string>我要捐赠</string>
		<key>service_icon</key>
		<string>iconfont_love.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>2</integer>
		<key>row</key>
		<integer>1</integer>
		<key>position</key>
		<string>L1</string>
		<key>back_color</key>
		<string>f51f03</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>3</integer>
		<key>service_title</key>
		<string>基金会账号</string>
		<key>service_icon</key>
		<string>account_logo.png</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>1</integer>
		<key>position</key>
		<string>R1</string>
		<key>back_color</key>
		<string>00bb9c</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>4</integer>
		<key>service_title</key>
		<string>联系我们</string>
		<key>service_icon</key>
		<string>contact_logo.png</string>
		<key>width</key>
		<integer>1</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>1</integer>
		<key>position</key>
		<string>R2</string>
		<key>back_color</key>
		<string>00bb9c</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>5</integer>
		<key>service_title</key>
		<string>我的记录</string>
		<key>service_icon</key>
		<string>record_logo.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>2</integer>
		<key>position</key>
		<string>R1</string>
		<key>back_color</key>
		<string>11CD6E</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>6</integer>
		<key>service_title</key>
		<string>捐赠流程</string>
		<key>service_icon</key>
		<string>howto.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>3</integer>
		<key>position</key>
		<string>L1</string>
		<key>back_color</key>
		<string>ea9518</string>
	</dict>
	<dict>
		<key>service_title</key>
		<string>关于基金会</string>
		<key>service_icon</key>
		<string>about_logo.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>3</integer>
		<key>position</key>
		<string>R1</string>
		<key>back_color</key>
		<string>ea9518</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>8</integer>
		<key>service_title</key>
		<string>捐赠说明</string>
		<key>service_icon</key>
		<string>message_logo.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>4</integer>
		<key>position</key>
		<string>L1</string>
		<key>back_color</key>
		<string>0061b0</string>
	</dict>
	<dict>
		<key>service_id</key>
		<integer>9</integer>
		<key>service_title</key>
		<string>更多功能</string>
		<key>service_icon</key>
		<string>gengduo.png</string>
		<key>width</key>
		<integer>2</integer>
		<key>height</key>
		<integer>1</integer>
		<key>row</key>
		<integer>4</integer>
		<key>position</key>
		<string>R1</string>
		<key>back_color</key>
		<string>9d55b8</string>
	</dict>
</array>
</plist>
